body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #33333300;
  color: white;
  padding: 10px 20px;
  margin-top: auto;
}

.logo img {
  max-height: 25px;
  margin-right: 29px;
}

nav a {
  color: #05051F;
  text-decoration: none;
  padding: 3px ;
  margin: 0 5px;
  
}
button{
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #17ABBF;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;

}
nav a:hover {
  color: #17ABBF; 
}

.auth {
  margin-left: auto;
}

main {
    padding: 20px;
}



footer {
    background-color: #33333300;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.rectangle2 {
    background-color: #05051F;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .rectangle2 a {
    text-decoration: none;
    color: white;
    margin: 5px;
  }
  
  .divider {
    display: none;
    padding: 0.5%;
  }
  
  @media only screen and (min-width: 768px) {
    .divider {
      border-right: 1px solid white;
      display: inline-block;
      height: 10px;
      margin: 0 10px;
    }
  }
  .container {
    max-width: 99%;
    margin: 0.5px auto;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .text {
    flex: 3;
    margin-left: 6%;
    
  }

h1 {
    text-align:justify;
    
  }
  
  p {
    text-align:justify;
   
  }
  
  .imagen-con-clase {
    width: 35%; 
    height: auto;
    margin-right: 6%;
  }
  
  @media only screen and (min-width: 768px) {
    .content {
      flex-direction: row;
    }
  
    h1, p {
      text-align: left;
    }
  
    .imagen-con-clase {
      max-width: 50%;
    }
  }

  .linea-punteada {
    position: relative;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 8px 2px; /* Tamaño de los puntos */
    background-position: 0 0; /* Posición inicial del gradiente */
}

/* Estilo para el pseudo-elemento que genera los puntos */
.linea-punteada::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 8px 2px; /* Tamaño de los puntos */
    background-position: 0 0; /* Posición inicial del gradiente */
    animation: moverPuntos 2s linear infinite; /* Animación para mover los puntos */
}

/* Animación para mover los puntos */
@keyframes moverPuntos {
    100% {
        background-position: 16px 0; /* Distancia entre los puntos */
    }
}

  .container2 {
    max-width: 99%;
    margin: 1px auto;
  }
  
  .content2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .text2 {
    flex: 3;
    margin-left: 6%;
    
  }

h1 {
    text-align:justify;
    margin-top: 13%;
    color: #17ABBF;
    font-size:xx-large;
  }
  
  p {
    text-align:justify;
    margin-top: 3%;
    color: #05051F;
    font-weight: bolder;
    
    margin-block-end: 5%;
  }
  
  .imagen-con-clase2 {
    width: 35%; 
    height: auto;
    margin-right: 6%;
    margin-left: 6%;
  }
  
  @media only screen and (min-width: 768px) {
    .content2 {
      flex-direction:row-reverse;
    }
  
    h1, p {
      text-align: justify;
    }
  
    .imagen-con-clase2 {
      max-width: 50%;
    }
  }